@section Scripts
{
    <script src="/Scripts/App/Controllers/IndexController.js"></script>
}
<div class="row text-entry" ng-controller="IndexController">
    <input type="text" ng-model="inText" />
    <a ng-click='submit()' class="btn btn-primary btn-large">Tokenise</a>
    <textarea ng-model="results"></textarea>
</div>
